{% extends 'base.html.twig' %}

{% block title %}
	{{ parent() }}
{% endblock %}

{% block body %}
	{{ parent() }}
	<section id="projets">
		<h1>Projets</h1>
		<article>
			<h2>Mes réalisations</h2>
			<div id="container-projets">
			{% for projets in projetsRepo %}
				<div class="rea">
					<h2>
						<a href="">
							{{projets.name}}
						</a>
					</h2>
					{% if projets.link == 0 %}
					<p>
						(Lien non fonctionnel pour le moment)
					</p>
				{% endif %}
						{{projets.resume | raw}}
					
					<img src="{{projets.image}}" alt="" title="aperçu {{projets.name}}"/>
				</div>
				<hr class="division">
			{% endfor %}
			</div>
		</article>
	</section>

	{{ include('main/footer.html.twig') }}

{% endblock %}
